<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/c45d9c27b1.js" crossorigin="anonymous"></script>
    <title>About Me || front-end dev.</title>
</head>
<body>
    <!--header-->
   <header id="header-inner">
     <div class="container">
        <nav id="main-nav">
            <img src="./img/king-logo.png" alt="" id="logo">
             <ul>
                <li><a href="index.html" >Home</a></li>
                <li><a href="about.html" class="current">About</a></li>
                <li><a href="project.html" >Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
             </ul>
        </nav>
     </div>
   </header>

   <section id="about-a" class="text">
    <div class="container">
      <h2 class="section-title"> About Me</h2>
      <div class="bottom-line"></div>
      <p class="lead">what i do</p>
      <div class="about-info">
      <img src="./img/mask-me.jpg" alt="" class="bio-image">
      <div class="bio bg-light">
        <h4>Your project is in safe hands</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, vel sequi. Consequatur ea iste labore, quasi nesciunt obcaecati rem tempora!</p>
      </div>
    </div>
    </div>
   </section>

   <!--progress bar-->
   <section id="about-b" class="bg-dark py-3">
    <div class="container">
      <h2 class="section-title">Skills</h2>
      <div class="bottom-line"></div>
      <h4>HTML :</h4>
      <div class="progress">
      <div style="width: 100%"></div>
    </div>

      <h4>CSS :</h4>
      <div class="progress">
      <div style="width: 100%"></div>
    </div>

      <h4>BOOTSTRAP :</h4>
      <div class="progress">
      <div style="width: 100%"></div>
    </div>

    <h4>sass:</h4>
    <div class="progress">
    <div style="width: 90%"></div>
  </div>

      <h4>JAVASCRIPT :</h4>
      <div class="progress">
      <div style="width: 90%"></div>
    </div>

      <h4>REACT:</h4>
      <div class="progress">
      <div style="width: 90%"></div>
    </div>

      <h4>ADOBE PHOTOSHOP :</h4>
      <div class="progress">
      <div style="width: 60%"></div>
    </div>
    </div>

   </section>

   <!--logos-->
   <section id="about-c" class="bg-light">
    <div class="container">
      <div class="about-logos">
        <img src="./img/about-logos/html-logo.png" alt="">
        <img src="./img/about-logos/css-logo.png" alt="">
        <img src="./img/about-logos/js-logo.png" alt="">
        <img src="./img/about-logos/bootstrap-logo.png" alt="">
        <img src="./img/about-logos/react.png" alt="">
        <img src="./img/about-logos/Sass_logo.png" alt="">
        <img src="./img/about-logos/ps-logo.png" alt="">
      </div>
    </div>
   </section>

   <footer id="main-footer">
     <div class="footer-content container">
      <p>copyright &copy; 2022. All rights reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </div>
     </div>
   </footer>
</body>
</html>