<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/my-portfolio/dist/styles/style.css"> -->
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/c45d9c27b1.js" crossorigin="anonymous"></script>
    <title>Khaleel || front-end dev.</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
</head>
<body>
    <!--header-->
   <header id="header-home">
     <div class="container"> 
        <nav id="main-nav">
            <img src="./img/king-logo.png" alt="" id="logo">
             <ul>
                <li><a href="index.html" class="current">Home</a></li>
                <li><a href="about.html" >About</a></li>
                <li><a href="project.html" >Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
             </ul>
        </nav>
        <div class="head-content">
            <h1>I am Khaleel <span class="txt-type" data-wait="3000" data-words='["Abdulraheem","Your next developer","an engineering student"]'></span></h1>
            <p>I specialize in building your perfect website</p>
            <a href="project.html" class="btn-light">View My Projects</a>
        </div>
   </header>

   <section class="community">
    <h3 class="header">Community i belong to</h3>
    <div class="bottom-line"></div>
   <div class="swiper-container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="./img/communties i belong/ztm.png"></div>
        <div class="swiper-slide"><img src="./img/communties i belong/freecodecamp.png"></div>
        <div class="swiper-slide"><img src="./img/communties i belong/scrimba.png"></div>
        <div class="swiper-slide"><img src="./img/communties i belong/slearn.png"></div>
        
        
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div> -->
      <!-- <div class="swiper-button-next"></div> -->
    
    </div>
  </div>
</div>
</section>

   <footer id="main-footer">
     <div class="footer-content container">
      <p>copyright &copy; 2022. All rights reserved</p>
      <div class="social">
        <a href="https://twitter.com/Khaleellekan23"> <i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/in/khalilullahi-abdulraheem-943a43239"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/khaleelekan"><i class="fab fa-github"></i></a>
      </div>
     </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
   <script src="./js/swipe.js"></script>
   <script src="./js/typewriter.js"></script>
</body>
</html>