#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 100px;
}
#projects .project {
  background: #ccc;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid transparent;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  margin: 30px;
  padding: 15px 30px;
  border-radius: 15px;
}
#projects .project img {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
#projects .project img:hover {
  transform: scale(1.1);
  overflow: hidden;
}
#projects .project .description {
  text-align: center;
  width: 250px;
  height: 150px;
}
#projects .project button {
  display: inline;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #f4f4f4;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: #333;
  transition: all 0.5s ease-in-out;
}
#projects .project button i {
  margin-right: 2px;
}
#projects .project button:hover {
  background: #ffbc00;
}

@media (max-width: 500px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 20px;
  }
  #projects .project {
    margin: 30px 0px;
  }
}
@media (max-width: 800px) {
  #header-home {
    height: 40rem;
  }
  #header-home .header-content {
    padding-top: 5rem;
  }
}
@media (max-width: 500px) {
  #main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main-nav li {
    padding: 1rem;
  }
  #header-home {
    height: 40rem;
    border-bottom: 3px solid #ffbc00;
    background-position: 30% 40%;
  }
  #header-inner {
    height: 10rem;
  }
  #about-a .about-info {
    display: grid;
    margin: auto;
    grid-template-areas: "bio-image" "bio";
    grid-gap: 1rem;
  }
  #about-a .about-info .bio-image {
    grid-area: bio-image;
    border-radius: 5px;
    margin: auto;
  }
  #about-a .about-info .bio {
    grid-area: bio;
    border-left: none;
    border-top: 2px solid #ffbc00;
    margin-bottom: 1.2rem;
  }
  #about-b {
    display: grid;
    grid-template-columns: 1fr;
  }
  #about-b .container {
    padding: 20px 10px;
  }
  #about-c .container {
    display: grid;
    margin: auto;
    padding: 30px 50px;
  }
  #about-c .about-logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  #about-c .about-logos img {
    padding: 5px;
    width: 20px;
    height: 20px;
  }
  #about-c .about-logos img:hover {
    top: -15px;
  }
  #projects {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 20px;
  }
  #projects .project {
    margin: 30px 0px;
  }
  #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 0px;
  }
  #contact-a .container {
    padding: 10px 5px;
  }
  #contact-a .text-fields {
    grid-template-areas: "name" "email" "subject" "phone" "message";
  }
  #contact-b .container {
    width: 80%;
    padding: 15px 15px;
    margin: auto;
  }
  #contact-b .contact-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 0px;
  }
  #contact-b .contact-info div {
    padding: 10px 0px;
    border-bottom: 1px solid #333;
  }
  #contact-b .contact-info div:last-child {
    border-bottom: none;
  }
}
@media (max-height: 390px) {
  #about .about-info {
    grid-template-areas: "bio-image" "bio";
  }
}/*# sourceMappingURL=project-grid.css.map */