<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./project-grid.css">
    <script src="https://kit.fontawesome.com/c45d9c27b1.js" crossorigin="anonymous"></script>
    <title>My Projects|| front-end dev.</title>
</head>
<body>
    <!--header-->
   <header id="header-inner">
     <div class="container">
        <nav id="main-nav">
            <img src="./img/king-logo.png" alt="" id="logo">
             <ul>
                <li><a href="index.html" >Home</a></li>
                <li><a href="about.html" >About</a></li>
                <li><a href="project.html" class="current">Projects</a></li>
                <li><a href="contact.html" >Contact</a></li>

             </ul>
        </nav>
     </div>
    </header>

    <section id="work-a" class="text-center">
      <div class="container">
        <h2 class="section-title">My Projects </h2>
        <div class="bottom-line"></div>
        <p class="lead">check out some of my projects</p>

        <div id="projects">

          <div class="project">
            <img src="./img/items/cats-background.jpg" alt="first" width="200px" height="150px">
            <div class="description">
               <h1>CAT PETS</h1>
               <p>A react app that allows you to search through varieties of cats, created using an API ,fuctional components,useState and useEffect</p>
            </div>
            <div class="button">
              <a href="https://khaleelekan.github.io/cat-pets"><button><i class="fa fa-eye" aria-hidden="true"></i><p>see live</p></button></a>  
          </div>
          </div>

          <div class="project">
            <img src="./img/items/inner-cap-scarf.jpeg" alt="first" width="10px" height="150px">
            <div class="description">
              <h1>FIRR HIJABS</h1>
              <p>A business website built to connect my client to her customers across social media platforms. </p>
            </div>
            <div class="button">
              <a href="https://firrhijabs.netlify.app"><button> <i class="fa fa-eye" aria-hidden="true"></i><p>see live</p></button></a> 
          </div>
          </div>
        
          <div class="project">
            <img src="./img/items/theater-seat.jpg" alt="first" width="10px" height="150px">
            <div class="description">
              <h1>TICKET BOOKER</h1>
              <p>A webapp that allows user to select a movie ,a seat or more then gives the cost of the amount of seat selected with respect to the movie selected. </p>
            </div>
            <div class="button">
              <a href="https://movieticketer.netlify.app"><button> <i class="fa fa-eye" aria-hidden="true"></i><p>see live</p></button></a> 
          </div>
          </div>

          <div class="project">
            <img src="./img/items/keyboard.jpg" alt="first" width="200px" height="150px">
            <div class="description">
              <h1>TYPING GAME</h1>
              <p>A web app made to improve typing speed of users by changing difficulties </p>
            </div>
            <div class="button">
              <a href="https://typ-game.netlify.app"><button> <i class="fa fa-eye" aria-hidden="true"></i><p>see live</p></button></a>  
          </div>
          </div>

          <div class="project">
            <img src="./img/items/expense.jpg" alt="first" width="200px" height="150px">
            <div class="description">
              <h1>EXPENSE TRACKER</h1>
              <P>A web app that keeps track of users budget and expenses</P>
            </div>
            <div class="button">
              <a href="https://expensestracer.netlify.app"><button> <i class="fa fa-eye" aria-hidden="true"></i><p>see live</p></button></a> 
          </div>
          </div>

        </div>
      </div>
    </section>


   <footer id="main-footer">
     <div class="footer-content container">
      <p>copyright &copy; 2022. All rights reserved</p>
      <div class="social">
        <a href="https://twitter.com/Khaleellekan23"> <i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/in/khalilullahi-abdulraheem-943a43239"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/khaleelekan"><i class="fab fa-github"></i></a>
      </div>
     </div>
   </footer>
</body>
</html>