@import 'variables';
@import 'utility';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
    color: $dark-color;

}

h2,
h3,
h4 {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

//main nav
#logo {
    height: 70px;
    width: 70px;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

#header {
    &-home {
        background: $bg-image no-repeat center right/cover;
        height: 100vh;
        color: #fff;

        .head-content {
            text-align: center;
            padding-top: 20%;

            .txt-type{
                color: $main-color;

                .txt{
                    border-right: 0.2rem solid $main-color;
                }
            }

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }

            p {
                margin-bottom: 10px;
            }

            a {
                background-color: #f4f4ff;
                padding: 5px 10px;
                transition: all 0.5s;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                text-align: center;

                &:hover {
                    background-color: $main-color;
                }
            }
        }


    }
    &-inner{
        background: $bg-image no-repeat 20% 30% /cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;
    }

}
#about{
    &-a{text-align: center;
        
        .section-title{
          font-size: 2rem;
          display: block;
          padding-bottom: 0.5rem;
          text-align: center;
          font-weight: 100;
        }
        .about-info{
         margin: 20px 200px ;
         display: grid;
         grid-template-areas: 
         'bio-image bio bio';
         grid-gap: 1.2rem;

         .bio-image{

            grid-area: bio-image;
         }
         .bio{
            grid-area: bio;
            border-left: 3px solid $main-color;
            padding: 0.8rem;
         }
        }
    }
    &-b{
        .container{
            padding: 20px 200px ;
        }
    

        .section-title{
            font-size: 2rem;
            display: block;
            padding-bottom: 0.5rem;
            text-align: center;
            font-weight: 100;
            
        }
        .progress{
            overflow: hidden;
            height: 20px;
            background: $medium-color;
            border-radius: 5px;
            margin-bottom: 0.3rem;

            div{
                height: 100%;
                color: #fff;
                text-align: center;
                background: $main-color;
            }
        }
    }
    &-c{
        .container{
            padding: 30px 250px;
        }
        .about-logos{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 0rem;

            img{
                background: white;
                padding: 10px 10px;
                border: 1px solid white;
                border-radius: 5px;
                box-shadow: 1px 1px $dark-color;
                width: 50%;
                height: 50%;
                transition:all 0.5s;

                &:hover{
                       transform: scaleY(1.2);
                }
            }
        }
    }
}

#contact{
    &-a{
    .text-fields{
        display: grid;
        grid-template-areas:
        'name email'
        'subject phone'
        'message message';
        grid-gap: 1.2rem;
        margin-bottom: 1.2rem;

        .name-input{
            grid-area: name;
        }
        .subject-input{
            grid-area: subject;
        }
        .email-input{
            grid-area: email;
        }
        .phone-input{
            grid-area: phone;
        }
        .message-input{
            grid-area: message;
            height: 100px;
        }
        .text-input{
            padding: 0.5rem 1rem;
        }
    }
    button[type='submit']{
        width: 50%;
        margin-bottom: 10px;
        border-radius: 5px;
    }
  }
}

#main-footer {
    background-color: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .social .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            transition: all 0.5s;

            &:hover {
                background: $main-color;
            }
        }
    }
}